:root {}

* {
    box-sizing: border-box;
    ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1;
    display: flex;
    flex-direction: column;
    background-image: url(./images/background-image.jpg);
}

/*start of header section*/
header {
    padding: 40px 20px 40px 40px;
    background-color: var(--main);
    color: var(--accent);
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0 0 10px red;
    display: flex;
}

header nav ul {
    display: flex;
    align-items: right;
    padding: 40px;
    list-style: none;
    color: red;
    font-size: large;
}

header nav li a {
    padding: 10px 15px;
    color: black;
}

header nav ul a:hover {
    color: red;
    border-radius: 15px;
}

/*styling for banner*/
.banner {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 30px;
    padding: 0px 40px 0px 0px;
    background-image: url(./images/banner.jpg);

}

.flex-container-1 {
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 20px 40px;
    font-size: large;
    text-shadow: 0 0 10px red;
}

.flex-container-2 {
    padding: 20px 20px 20px 20px;
    line-height: normal;
    color: black;
    text-shadow: 0 0 10px red;
}

/*styling for sidebar*/
.sidebar2 {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.aside .sidebar {
    display: flex;
    justify-content: center;
    padding: 100px;
    text-align: center;
}

.work {
    display: flex;
    justify-content: flex-start;
}

/*styling for bio section*/
.bio {
    width: 70%;
    font-size: x-large;
    margin: auto;
}

/*styling for projects section*/
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: x-large;
}

.code-refractor {
    display: flex;
    justify-content: center;
    border-style: solid;
    align-items: center;
    height: 500px;
    width: 70%;
    font-weight: bold;
    margin: 50px;
    background-image: url(./images/horiseon-screen-shot.png);
}

.cr-text {
    display: flex;
    padding: 10px 10px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: xx-large;
    border: 10px;
    border-style: solid;
    border-width: 5px;
    background-color: red;
}

.code-refractor:hover {
    opacity: 60%;
}

.LED.Wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    align-items: center;
    height: 300px;
    width: 35%;
    font-weight: bold;
    margin: 50px;
    background-image: url(./images/LED.webp);
}

.led-text {
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
    border: 10px;
    border-style: solid;
    border-width: 5px;
    background-color: red;
    padding: 10px 10px 10px;
}


.LED.Wall:hover {
    opacity: 60%;
}


.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    align-items: center;
    height: 300px;
    width: 35%;
    font-weight: bold;
    margin: 50px;
    background-image: url(./images/calculator.jpg);
}

.calculator-text {
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
    border: 10px;
    border-style: solid;
    border-width: 5px;
    background-color: red;
    padding: 10px 10px 10px;
}


.calculator:hover {
    opacity: 60%;
}


.pastel-puzzles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    align-items: center;
    height: 300px;
    width: 35%;
    font-weight: bold;
    margin: 50px;
    background-image: url(./images/pastel.png);
}

.pastel-text {
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
    border: 10px;
    border-style: solid;
    border-width: 5px;
    background-color: red;
    padding: 10px 10px 10px;
}


.pastel-puzzles:hover {
    opacity: 60%;
}


.run-buddy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-style: solid;
    height: 300px;
    width: 35%;
    font-weight: bold;
    margin: 50px;
    background-image: url(./images/run-buddy.jpg);
}

.run-buddy-text {
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
    border: 10px;
    border-style: solid;
    border-width: 5px;
    background-color: red;
    padding: 10px 10px 10px;
}


.run-buddy:hover {
    opacity: 60%;
}

/*styling for contact section*/
.contact-me {
    display: flex;
    justify-content: flex-start;
    margin: 50px;
    text-shadow: 0 0 10px red;
}

.nav {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    padding: 0px 500px 0px;
}

.contact:hover {
    opacity: 60%;
    color: red;
}

.a:hover {
    opacity: 60%;
    color: red;
}

/*styling for footer section*/
footer {
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px 40px;
    font-size: x-large;
    text-shadow: 0 0 10px red;
}